.main-body{
    background-color: #073679;
    font-family:Roboto, sans-serif;
    min-width: 500px;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

.header,.right-section{
    display:flex;
    
    
}
.header{
    justify-content: space-between;
    color:white;
    padding-left: 250px;
    padding-right:250px;
    
}

.header-one-link,.header-two-link,.header-three-link{
    text-decoration: none;
    margin-left:50px;
    color:rgb(185, 185, 185);
    font-size:20px;

}
.snail-profile{
    width:100px;
    
}
.snail-profile:hover{
    opacity:0.7;
}
.first-section{
    margin-top:100px;
    display: flex;
    justify-content: space-between;
    color:white;
    padding-left: 250px;
    padding-right:250px;
    align-items: center;
    padding-bottom:10px;
}
.cartoon-link{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.first-text{
    width:400px;
}
.mini-text{
    font-size:18px;
    color:lightgray
}
.placeholder-image{
    width:500px;
    
}
.main-title{
    font-size:48px;
    font-weight:bold;
}
.sign-up{
    background-color: rgb(70, 144, 255);
    color:white;
    font-weight:bold;
    border:none;
    height:30px;
    width:90px;
    border-radius: 10px;
}
.sign-up:hover,.character-button:hover{
    opacity: 0.9;
    cursor: pointer;
}
.sign-up:active,.character-button:active{
    opacity:0.7;
}
.second-section{
    padding-left: 20px;
    background-color: rgb(107, 13, 247);
    height: 300px;
    width:100vw;
    padding-right:10px;
    
}
.multi-info{
    font-family:Roboto, sans-serif;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.Square-one,.Square-two,.Square-three{
    width:150px;
}
.second-title{
    text-align: center;
}
.finn{
    width:100px;
}
.marceline{
    height:160px;
    margin-left:-10px;
}
.ranicorn{
    width:110px;
}

.character-button{
    border:none;
    background-color: #ffc500;
    height:30px;
    width:160px;
    border-radius: 10px;
    margin-left:-30px;
}

.character-link{
    text-decoration: none;
    font-size:15px;
    color:black;
}
.third-section{
    padding-right:20px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:100vw;
    
}
.jack-background{
    position:relative;
    opacity:0.9;
    

}
.quote{
    font-family:Edu VIC WA NT Beginner, cursive;
    font-size: 36px;
    text-align: center;
    width:500px;
}
.quote-author{
    font-family: Edu VIC WA NT Beginner, cursive;
    color: #073679;
    font-weight:bold;
    font-size: 20px;
    text-align: center;
    margin-top:200px;
    margin-left:-200px;
    
}
.fourth-section{
    
    background-color: orange;
    width:100%;
    height:450px;
    text-align: left;
    padding-top:10px;
    
}
.fourth-title{
    font-family:Roboto,Arial, Helvetica, sans-serif;
    font-size:30px;
    font-weight: bold;
    margin-left:300px;
    padding-left:20px;
}
.skills{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.skill-one-gif{
    border-radius: 100px;
}
.skill-two-gif{
    width:500px;
    border-radius: 100px;
}
.copyright{
    text-align: center;
    color:white;
    font-size: 20px;
}
.viola-button{
    background-color: rgb(70, 144, 255);
    color:white;
    font-weight:bold;
    border:none;
    height:100px;
    width:200px;
    border-radius: 10px;
    
}
.viola-link{
    text-decoration: none;
    color:white;
    font-size: 20px;
}